body {
    background-color: #f0f4f8;
}

h1 {
    text-align: center; 
    color:blue;   
}

#currentgroup {
    text-decoration: none;
}

#twitter {
    text-decoration: none;
}

.papers {
    text-decoration: none;
}

#LatinXChem24 {
    text-decoration: none;
}